:root{
--amarelo-princ: #ffde00;
--azul-escuro: rgba(6,1,38,1);
--azul-claro: rgba(17, 106, 234, 1);
--azul-mais-claro: #11e4ea;
--roxo: #2a022e;
--poller: 'Poller One', cursive;
--zen: 'Zen Dots', cursive;
}

*{
margin: 0;
padding: 0;
text-decoration: none;
}

html, body{
width: 100%;
overflow-x: hidden;
position: relative;
scroll-behavior: smooth;
}

body::-webkit-scrollbar-track
{
    border-radius: 0px;
    background-color: var(--roxo);
}

body::-webkit-scrollbar
{
    width: 12px;
    border-radius: 10px;

}

body::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: var(--amarelo-princ);
}

header{
position: fixed;
width: 100%;
height: 130px;
display: flex;
justify-content: space-between;
align-items: center;
padding: 30px 10%;
z-index: 5000;
transition: .4s;
}

header.scroll{
background-image: url('fundo_nav_opacity.png');
background-position: center;
background-size: 102% 102%;
background-repeat: no-repeat;
transition: .4s;
height: 100px;
}

header nav ul{
display: flex;
list-style: none;
}

.nav-item{
width: 80px;
padding: 0 0 0 60px;
font-size: 30px;
box-sizing: border-box;
}

.nav-item a{
text-decoration: none;
color: white;
transition: 0.4s;
}

.nav-item a:hover{
color: var(--amarelo-princ);
transition: 0.4s;
}


.logo svg{
width: 100px;
fill: white;
transition: .4s;
}

.logo svg:hover{
fill: var(--amarelo-princ);
transform: scale(1.1);
transition: .4s;
}