body{
height: 100vh;
overflow-y: hidden;
}

.section-carousel{
background-image: url('fundo-footer.png');
background-repeat: no-repeat;
background-size: 110% 110%;
background-position: center center;
height: 100vh;
}

.rings{
position: absolute;
top: -400px;
right: -800px;
animation: rotate 20s ease-in-out infinite;
}

@keyframes rotate{
    0%{
    transform: rotate(-20deg);
    }
    50%{
    transform: rotate(20deg);
    }
    100%{
    transform: rotate(-20deg);
    }
}

.section-carousel{
padding-top: 100px;
width: 100%;
display: flex;
align-items: center;
}

.text-carousel{
width: 40%;
margin-left: 5%;
border-right: 1px solid var(--amarelo-princ);
height: 400px;
z-index: 2;
}

.text-carousel h1{
font-family: var(--poller);
color: var(--amarelo-princ);
text-shadow: 2px 2px 10px var(--amarelo-princ);
}

.text-carousel p{
color: white;
font-size: 20px;
}

.carousel{
display: flex;
color: white;
z-index: 1;
width: 55%;
position: relative;
}

.carousel-content{
height: 470px;
overflow: hidden;
display: inline-block;
text-align: center;
padding-left: 0;
padding-bottom: 10px !importante;
display: flex;
align-items: center;
/*-webkit-box-shadow: inset 19px 0px 14px 0px rgba(0,0,0,0.21);
box-shadow: inset 19px 0px 14px 0px rgba(0,0,0,0.21);
backdrop-filter: blur(10px);*/
}

.carousel-content a{
margin: 8px 20px;
padding: 5px;
text-decoration: none;
color: white;
}

.carousel-content div{
margin: 20px 5px;
width: 270px;
height: 400px;
background-size: cover;
background-position: center center;
border-radius: 30px;
display: flex;
align-items: end;
box-shadow: 5px 5px 15px black;
transition: .5s;
}

.carousel-content div:hover{
transform: scale(1.1);
transition: .5s;
box-shadow: 2px 2px 15px black;
}


.carousel-content div h2{
margin: 15px 10px;
border-radius: 15px;
padding: 15px;
background-color: rgba(0,0,0,.7);
}

.carousel-content a:nth-child(1) div{
background-image: url("advogado.jpg");
}

.carousel-content a:nth-child(2) div{
background-image: url("casamento.jpg");
}

.carousel-content a:nth-child(3) div{
background-image: url("psicologo.jpg");
}

.carousel-content a:nth-child(4) div{
background-image: url("psicologo.jpg");
}

.bt{
cursor: pointer;
position: absolute;
padding-top: 5px;
padding-left: 18px;
font-size: 26px;
height: 56px;
width: 56px;
background-color: rgba(0,0,0,.8);
border-radius: 50%;
z-index: 2;
text-decoration: none;
color: var(--amarelo-princ);
}

.bt:hover{
color: var(--amarelo-princ);
}

.right{
right: 10px;
}

.left{
left: 10px;
}

.right, .left{
margin-top: 200px;
}

[data-aos="left"] {
    opacity: 0;
    transform: translateX(800px);
    transition-property: transform, opacity;
}

[data-aos="left"].aos-animate {
    transform: translateX(0px);
    opacity: 1;
}

@media screen and (max-width: 740px){
    .rings{
    opacity: .4;
    }

    .section-carousel{
    flex-direction: column;
    }

    .text-carousel{
    width: 90%;
    border: none;
    }

    /*.text-carousel h1{
   color: var(--azul-claro);
   text-shadow: 2px 2px 10px var(--azul-claro);
   }*/


    .carousel{
    width: 100%;
    }

    .carousel-content{
    width: 100%;
    }

    }

}